body{
    height: 100vh;
    background: linear-gradient(beige,#FEFCE4);
}
.main{
    max-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}
.image{
    border-radius: 15px;
}
.image>img{
    object-fit: cover;
    width: 20vw;
    border-radius: 25px;
}
.info{
    text-align: -webkit-center;
}
.main h2{
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    color: brown;
    font-size: 2.5em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    
}
.main h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
p{
    width: 40rem;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}
.bold{
    font-weight: 600;
}
@media (max-width:768px){
    .main h3{
        font-size: 1rem;
        text-align: center;
    }
    .main h2 span{
        font-size: 1.8rem;
        text-align: center;
    }
    .main h2{
        text-align: center;
         font-size: 1rem;
    }
    .main{
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
    }
    p{
        font-size: .8rem;
        width: 70vw;
        height: auto;
        text-align: center;
    }
}