
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{

    background: linear-gradient(beige,#FEFCE4);
   
}
.main{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}
.image{
    border-radius: 15px;
      display: flex;
    flex-direction: column;
}    
.image>img{
    object-fit: cover;
    width: 15vw;
    border-radius: 25px;
}
.info{
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
}
.main h2 {
    font-size: 2.4em;
    font-weight: 800;
    font-family:'Lobster Two', Arial, Helvetica, sans-serif;
}
.name{
    margin: 20% auto;
    font-size: 3.5em;
    font-weight: 800;
    font-family:'Lobster Two', Arial, Helvetica, sans-serif;
    justify-content: center;
}
.main h2 span{
    color: brown;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    
}

p{
    width: 50rem;
    font-size: 1.5rem;
    font-style: italic;
    margin: 0 auto;
    text-align:justify;
}
.bold{
    font-weight: 600;
}
@media (max-width:768px){
    .main h3{
        font-size: 1rem;
        /* text-align: center; */
    }
    .main h2 span{
        font-size: 1.8rem;
        /* text-align: center; */
    }
    .main h2{
        /* text-align: center; */
         font-size: 1rem;
    }
  
    p{
        font-size: .8rem;
        width: 70vw;
        height: auto;
        
    }
}