.contact{
width: 600px;
 margin: 10vw auto;
}   
.social-icons a{
    color:blue;
    font-size: 1.7em;
    padding-right: 30px;
}
.img{
    width: 30vw;
    background-color: #F6F6F6;
    height: 100vh;
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.content{
    display: flex;
}@media (max-width:768px){
    .img{
        height: 100%;
        width: 100vw;
    }
    h2{
        font-size: small;
    }
    h3{
        font-size: small;
    }
    .content{
        width: 80vw;
        margin: 0 auto;
    }
}