.contenant-items{
    display:flex;
   flex-wrap: wrap;
}
.contenant-item {
margin: 1em;
}
.categorie{
color: darkcyan;
font-size: 1.2em;
}
.competences{
    display: flex;
    justify-content: center;
 
    font-size: 3em;
    color:cadetblue;
    font-weight: 600;
    padding: 5%;   
}