header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px;
   overflow-x: hidden;
}
.home a{
text-decoration: none;
color: brown;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
}
.navigation a{
text-decoration: none;
color: brown;
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
padding-left: 30px;
}
@media (max-width:768px){
    .logo{
        font-size: 1.3rem;
    }
    .navigation a{
        font-size: 0.8rem;
    }
}