
body {
   
    box-sizing: border-box;
   
  
   
}

.chrono {
    background-color:cadetblue;
   display: flex;
   flex-direction: column;
}
.professionnel{
    margin: 2em auto;
   
    color: azure;
    font-weight: 600;
    font-size: 3em;

}